@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

/* Core styles*/
 body{
   margin: 0;
   font-family: Sarabun;
   background: #333;
   color: #fff;
   font-size: 1.1em;
   line-height: 1.5;
   text-align: center;
 }

 img{
   display: block;
   width: 100%;
   height: auto;
 }

 h1, h2, h3{
   margin: 0;
   padding: 1em 0;
 }

 p{
   margin: 0;
   padding: 1em 0;
 }

 .btn{
   display: inline-block;
   background-color: #333;
   color: #fff;
   text-decoration: none;
   padding: 1em 0;
   border: 1px solid #666;
   margin: .5em 0;
 }

 .btn:hover{
   background-color: #eaeaea;
   color: #333;
 }

 /* Header Showcase */
 #showcase{
   min-height: 550px;
   color: #fff;
   text-align: center;
 }

 #showcase .bg-image{
   position: absolute;
   background: #333 url(5.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 550px;
   z-index: -1;
   opacity: 0.4;
 }

 #showcase h1{
   padding-top: 100px;
   padding-bottom: 0;
 }

 #showcase .content-wrap, 
 #section-a .content-wrap{
   padding: 0 1.5em;
 }

 /* Section A */
 #section-a{
   background:#eaeaea;
   color: #333;
   padding-bottom: 2em;
 }

 /* Section B */
#section-b{
  padding: 2em 1em 1em;
}

#section-b ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li{
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content{
  padding: 1.5em;
}

/* Section C */
#section-c{
  background: #fff;
  color: #333;
  padding: 2em;
}

/* Section D */
#section-d .box{
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child{
  background: #18567c;
}

/* Footer */
#main-footer{
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

.navbar{
  background-color:#333;
  overflow:hidden;
  height:63px;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

@media(min-width: 700px){
  .grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .content-wrap, #section-b ul{
    grid-column: 2/4;
  }

  .box, #main-footer div{
    grid-column: span 2;
  }

  #section-b ul{
    display: flex;
    justify-content: space-around;
  }

  #section-b li{
    width: 31%;
  }
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  .open-slide{display:none}
}

.wrapper{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: minmax(500, auto);
  column-gap: 1em;
  row-gap: 1em;
}

.wrapper > div{
  background:#eee;
  padding: 2em;
  justify-items: center;
}

.btn {
  display: inline-block;
  border: none;;
  background-color: #333;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}
#more{
  display: none;
}